html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: #fcfcf7;
  color: #0c0c0c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
  max-width: 40em;  /* remove this for a full-width layout */
  margin: 1em auto;  /* centers the layout */
  padding: 0px 15px;
}

h1, h2, p, blockquote, li, a, th, td {
  line-height: 1.5em;
}

h2 {
  font-size: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

p {
  font-size: 1.1em;
  margin-bottom: 1em;
}

li {
  font-size: 1.1em;
}

blockquote {
  margin: 0 0 1.5em;
  padding: 0 1em;
  border-left: .25em solid #e3e3e3;
  /* font-size: 0.9em; */
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

a:visited {
  text-decoration: none;
  color: #2749c9;
}

/* External links */

a[href*="//"]:after {
  font-weight: 300;
  font-size: .85em;
  content: "\2197"; /* top right arrow: ↗ */
  color: #121212;;
  opacity: .50;
}

a[href*="//"]:hover:after {
  color: #2749c9;
  opacity: 1;
}

/* ------- Smaller screens ------- */

@media only screen and (max-width: 680px) {
  body { font-size: 15px; }
}

@media only screen and (max-width: 540px) {
  nav { width: 100%; } /* Fix for older webkit versions */
} 